{% extends "web/base.html" %}
{% load static %}

{% block estilos %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<title>Ficha de Evaluación</title>
{% endblock estilos %}

{% block contenido %}
    <div class="evaluacion">
        <div class="resultados">
            <form method="POST" id="sucursalForm" class="form2">
                <h2>Busqueda de oportunidad</h2>
                {% csrf_token %}
                <!-- Errores generales del formulario -->
                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="{{ form.fecha_inicio.id_for_label }}">Fecha Inicio:</label>
                {{ form.fecha_inicio }}
                {% if form.fecha_inicio.errors %}
                    <div class="field-error">{{ form.fecha_inicio.errors }}</div>
                {% endif %}
                <label for="{{ form.fecha_fin.id_for_label }}">Fecha Fin:</label>
                {{ form.fecha_fin }}
                {% if form.fecha_fin.errors %}
                    <div class="field-error">{{ form.fecha_fin.errors}}</div>
                {% endif %}
                <div class="input">
                    <label for="{{ form.codigo_suc.id_for_label }}">Código Oficina:</label>
                    {{ form.codigo_suc }}
                    {% if form.codigo_suc.errors %}
                        <div class="field-error">{{ form.codigo_suc.errors }}</div>
                    {% endif %}
                </div>
                <div class="input">
                    <label for="{{ form.nombre_ejecutivo.id_for_label }}">Nombre Ejecutivo:</label>
                    {{ form.nombre_ejecutivo }}
                    {% if form.nombre_ejecutivo.errors %}
                        <div class="field-error">{{ form.nombre_ejecutivo.errors}}</div>
                    {% endif %}
                </div>
                <div class="botones">
                    <button type="reset" class="button limpia">Limpiar</button>
                    <button type="submit" class="button buscar">Buscar Oportunidad</button>
                </div>
            </form>
           <div id="loader" style="display: none;">
                <img src="{% static 'img/loader.gif' %}" alt="Cargando..." >
                <p id="loader-text">Buscando oportunidades...</p>
            </div>

            <div id="resul">
                {% include 'web/resultados.html' %}
            </div>
        </div>
        <div class="container">
            <h2>Evaluación de Ejecutivos</h2>
            <form method="POST">
                {% csrf_token %}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="evaluacion-tab" data-toggle="tab" href="#evaluacion" role="tab" aria-controls="evaluacion" aria-selected="true">Evaluación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="formalidad-tab" data-toggle="tab" href="#formalidad" role="tab" aria-controls="formalidad" aria-selected="false">Formalidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gestion-tab" data-toggle="tab" href="#gestion" role="tab" aria-controls="gestion" aria-selected="false">Gestión Otorgamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="depuracion-tab" data-toggle="tab" href="#depuracion" role="tab" aria-controls="depuracion" aria-selected="false">Depuración Antecedentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ingreso-tab" data-toggle="tab" href="#ingreso" role="tab" aria-controls="ingreso" aria-selected="false">Ingreso de Datos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="evaluacion" role="tabpanel" aria-labelledby="evaluacion-tab">
                        {{ evaluacion_form.as_p }}
                    </div>
                    <div class="tab-pane fade" id="formalidad" role="tabpanel" aria-labelledby="formalidad-tab">
                        <h3> Verificacion Laboral</h3>
                        {{ formalidad_formset.as_p }}
                    </div>
                    <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="gestion-tab">
                        {{ gestion_otorga_formset.as_p }}
                    </div>
                    <div class="tab-pane fade" id="depuracion" role="tabpanel" aria-labelledby="depuracion-tab">
                        {{ depuracion_antecedentes_formset.as_p }}
                    </div>
                    <div class="tab-pane fade" id="ingreso" role="tabpanel" aria-labelledby="ingreso-tab">
                        {{ ingreso_datos_formset.as_p }}
                    </div>
                </div>
                <div class="top-buttons">
                    <button type="reset" class="buttons clear">Limpiar</button>
                    <button  class="buttons save">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    {% block js %}
    <script src="{% static 'js/formEva.js' %}"></script>
    {% endblock js %}

{% endblock %}