{% extends "web/base.html" %}
{% load static %}

{% block estilos %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<title>Ficha de Evaluación</title>
{% endblock estilos %}

{% block contenido %}
    <div class="evaluacion">
        <div class="resultados">
            <form method="POST" id="sucursalForm" class="form2">
                <h2>Busqueda de oportunidad</h2>
                {% csrf_token %}
                <!-- Errores generales del formulario -->
                {% if form.non_field_errors %}
                    <div class="form-errors">
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <label for="{{ form.fecha_inicio.id_for_label }}">Fecha Inicio:</label>
                {{ form.fecha_inicio }}
                {% if form.fecha_inicio.errors %}
                    <div class="field-error">{{ form.fecha_inicio.errors }}</div>
                {% endif %}
                <label for="{{ form.fecha_fin.id_for_label }}">Fecha Fin:</label>
                {{ form.fecha_fin }}
                {% if form.fecha_fin.errors %}
                    <div class="field-error">{{ form.fecha_fin.errors}}</div>
                {% endif %}
                <div class="input">
                    <label for="{{ form.codigo_suc.id_for_label }}">Código Oficina:</label>
                    {{ form.codigo_suc }}
                    {% if form.codigo_suc.errors %}
                        <div class="field-error">{{ form.codigo_suc.errors }}</div>
                    {% endif %}
                </div>
                <div class="input">
                    <label for="{{ form.nombre_ejecutivo.id_for_label }}">Nombre Ejecutivo:</label>
                    {{ form.nombre_ejecutivo }}
                    {% if form.nombre_ejecutivo.errors %}
                        <div class="field-error">{{ form.nombre_ejecutivo.errors}}</div>
                    {% endif %}
                </div>
                <div class="botones">
                    <button type="reset" class="button limpia" id="btn-limpiar">Limpiar</button>
                    <button type="submit" class="button buscar">Buscar Oportunidad</button>
                </div>
            </form>
           <div id="loader" style="display: none;">
                <img src="{% static 'img/loader.gif' %}" alt="Cargando..." >
                <p id="loader-text">Buscando oportunidades...</p>
            </div>

            <div id="resul">
                {% include 'web/resultados.html' %}
            </div>
        </div>
        <div class="container">
            <h2>Evaluación de Ejecutivos</h2>
            <form method="POST">
                {% csrf_token %}
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="evaluacion-tab" data-toggle="tab" href="#evaluacion" role="tab" aria-controls="evaluacion" aria-selected="true">Evaluación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="formalidad-tab" data-toggle="tab" href="#formalidad" role="tab">Formalidad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="gestion-tab" data-toggle="tab" href="#gestion" role="tab">Gestión Otorgamiento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="depuracion-tab" data-toggle="tab" href="#depuracion" role="tab">Depuración Antecedentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ingreso-tab" data-toggle="tab" href="#ingreso" role="tab">Ingreso de Datos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="evaluacion" role="tabpanel" aria-labelledby="evaluacion-tab">
                        <div class="form-group">
                            <h3>RUT Cliente:</h3>
                            {{ evaluacion_form.rut_cliente }}
                            <h3>Nombre Ejecutivo:</h3>
                            {{ evaluacion_form.nombre_ejec }}
                            <h3>Login Ejecutivo:</h3>
                            {{ evaluacion_form.login_ejecutivo }}
                            <h3>RUT Ejecutivo:</h3>
                            {{ evaluacion_form.rut_ejec }}
                            <h3>Sucursal:</h3>
                            {{ evaluacion_form.sucursal }}
                            <h3>Código Sucursal:</h3>
                            {{ evaluacion_form.codigo_sucursal }}
                            <h3>Tipo de Producto:</h3>
                            {{ evaluacion_form.producto }}
                            <h3>Monto Solicitado:</h3>
                            {{ evaluacion_form.monto_solicitado }}
                            <h3>Tipo de Revisión:</h3>
                            {{ evaluacion_form.proceso_credito }}

                            <hr>

                            <h3>Tipo de Cliente:</h3>
                            {{ evaluacion_form.tipo_cliente }}
                            <h3>Fecha Inicio Revisión:</h3>
                            {{ evaluacion_form.fecha }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="formalidad" role="tabpanel" aria-labelledby="formalidad-tab">
                        {{ formalidad_formset.management_form }}

                        {% for form in formalidad_formset %}
                            <div class="formset-form">
                                <h3>Respuesta Verificación Laboral</h3>
                                <div class="form-group">
                                    {{ form.respuesta_verificacion_laboral }}
                                    <div class="tipo-error">
                                        {{ form.tipo_error_verificacion_laboral }}
                                    </div>
                                    <div class="observacion">
                                        {{ form.observacion_verificacion }}
                                    </div>
                                </div>
                                <h3>Respuesta Estado de Situación</h3>
                                <div class="form-group">
                                    {{ form.respuesta_estado_situacion }}

                                    <div class="tipo-error">
                                        {{ form.tipo_error_estado_situacion }}
                                    </div>

                                    <div class="observacion">
                                        {{ form.observacion_estado }}
                                    </div>
                                </div>

                                <h3>Respuesta Acreditación de Ingresos</h3>
                                <div class="form-group">
                                    {{ form.respuesta_acreditacion_ingresos }}

                                    <div class="tipo-error">
                                        {{ form.tipo_error_acreditacion_ingresos }}
                                    </div>

                                    <div class="observacion">
                                        {{ form.observacion_acreditacion }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="gestion-tab">
                        {{ gestion_otorga_formset.management_form}}

                        {% for form in gestion_otorga_formset %}
                            <div class="formset-form">
                                <h3>Respuesta Atribuciones</h3>
                                <div class="form-group">
                                    {{ form.respuesta_atribuciones }}
                                    <div class="tipo-error">
                                        {{ form.tipo_error_atribuciones }}
                                    </div>
                                    <div class="observacion">
                                        {{ form.observaciones_atribuciones }}
                                    </div>
                                </div>
        
                                <h3>Respuesta Constitución Garantías y/o Aval</h3>
                                <div class="form-group">
                                    {{ form.respuesta_constitucion_garantia }}

                                    <div class="tipo-error">
                                        {{ form.tipo_error_constitucion_garantia }}
                                    </div>

                                    <div class="observacion">
                                        {{ form.observaciones_constitucion_garantia }}
                                    </div>
                                </div>

                                <h3>Respuesta Condiciones de Aprobación</h3>
                                <div class="form-group">
                                    {{ form.respuesta_condiciones_aprobacion }}

                                    <div class="tipo-error">
                                        {{ form.tipo_error_condiciones_aprobacion }}
                                    </div>

                                    <div class="observacion">
                                        {{ form.observacion_condicion_aprob }}
                                    </div>
                                </div>
                                <h3>Respuesta Cambio Resultado Evaluación Automática</h3>
                                <div class="form-group">
                                    {{ form.respuesta_cambio_evaAT }}

                                    <div class="tipo-error">
                                        {{ form.tipo_error_cambio_evaAT }}
                                    </div>

                                    <div class="observacion">
                                        {{ form.observacion_cambioEva }}
                                    </div>
                                </div>
                                <h3>Respuesta Deudas Vinculadas</h3>
                                <div class="form-group">
                                    {{ form.respuesta_deudas_vinculadas }}

                                    <div class="observacion">
                                        {{ form.observacion_res_deuda_vincu }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="depuracion" role="tabpanel" aria-labelledby="depuracion-tab">
                        {{ depuracion_antecedentes_formset.management_form }}

                        {% for form in depuracion_antecedentes_formset %}
                            <div class="formset-form">
                                 <h3>Respuesta Ingresos Mensuales</h3>
                                <div class="form-group">
                                    {{ form.respuesta_ingresos_mensuales }}
                                    <div class="tipo-error">
                                        {{ form.tipo_error_ingresos_mensuales }}
                                    </div>
                                    <div class="observacion">
                                        {{ form.observacion_ingresos_mensuales }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Respuesta Activos</h3>
                                    {{ form.respuesta_activo }}
                                    <div class="observacion">
                                        {{ form.observacion_activo }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Respuesta Dividendo BCH</h3>
                                    {{ form.respuesta_dividendo_BCH }}
                                    <div class="observacion">
                                        {{ form.observacion_dividendo_BCH }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Respuesta Arriendos Pagados</h3>
                                    {{ form.respuesta_arriendos }}
                                    <div class="observacion">
                                        {{ form.observacion_arriendos }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Respuesta Cuota Préstamo</h3>
                                    {{ form.respuesta_cuota_prestamo }}
                                    <div class="observacion">
                                        {{ form.observacion_cuota_prestamo }}
                                    </div>
                               </div>
                                <div class="form-group">
                                    <h3>Respuesta Renegociado</h3>
                                    {{ form.respuesta_renegociado }}
                                    <div class="tipo-error">
                                        {{ form.tipo_error_monto_renegociado }}
                                    </div>
                                    <div class="observacion">
                                        {{ form.observacion_renegociado }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>Respuesta Otros Egresos</h3>
                                    {{ form.respuesta_otros_egre }}
                                    <div class="observacion">
                                        {{ form.observacion_otros_egre }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h3>¿Corresponde Compra Cartera?</h3>
                                    {{ form.corresponde_compra_cartera }}
                                </div>
                                <!-- Campos dependientes de Compra Cartera -->
                                <div class="campos-compra-cartera" style="display: none;">
                                    <div class="form-group">
                                        <h3>Cuota Banco CP</h3>
                                        {{ form.respuesta_cuota_cp }}
                                        <div class="observaciones">
                                            {{ form.observacion_cuota_cp }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3>Cuota Compra OOII</h3>
                                        {{ form.respuesta_cuota_ooii }}
                                        <div class="observacion">
                                            {{ form.observacion_cuota_ooii }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3>Monto Compra Banco LP</h3>
                                        {{ form.respuesta_monto_compra_lp }}
                                        <div class="observacion">
                                            {{ form.observacion_monto_compra_lp }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3>Monto Compra Banco CP</h3>
                                        {{ form.respuesta_monto_compra_cp }}
                                        <div class="observacion">
                                            {{ form.observacion_monto_compra_cp }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3>Monto Compra OOII</h3>
                                        {{ form.respuesta_monto_compra_ooii }}
                                        <div class="observacion">
                                            {{ form.observacion_monto_compra_ooii }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h3>Monto Compra SBIF</h3>
                                        {{ form.respuesta_monto_compra_sbif }}
                                        <div class="observacion">
                                            {{ form.observacion_monto_compra_sbif }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tab-pane fade" id="ingreso" role="tabpanel" aria-labelledby="ingreso-tab">
                        {{ ingreso_datos_formset.management_form }}

                        {% for form in ingreso_datos_formset %}
                            <div class="formset-form">
                                <h3>Respuesta Actividad</h3>
                                <div class="form-group">
                                    {{ form.respuesta_actividad }}
                                   
                                    <div class="observacion">
                                        {{ form.observacion_actividad }}
                                    </div>
                                </div>
                                <h3>Respuesta Dirección Particular</h3>
                                <div class="form-group">
                                    {{ form.respuesta_direccion_part }}

                                    <div class="observacion">
                                        {{ form.observacion_direccion_part }}
                                    </div>
                                </div>
                                <h3>Respuesta Universidad</h3>
                                <div class="form-group">
                                    {{ form.respuesta_universidad }}

                                    <div class="observacion">
                                        {{ form.observacion_universidad }}
                                    </div>
                                </div>
                                <h3>Respuesta Fecha de Ingreso Empleo</h3>
                                <div class="form-group">
                                    {{ form.respuesta_fecha_in_empleo }}

                                    <div class="observacion">
                                        {{ form.observacion_fecha_in_empleo }}
                                    </div>
                                </div>
                                <h3>Respuesta Nivel Educacional</h3>
                                <div class="form-group">
                                    {{ form.respuesta_nivel_educa }}

                                    <div class="observacion">
                                        {{ form.observacion_nivel_educa }}
                                    </div>
                                </div>
                                 <h3>Respuesta Nacionalidad</h3>
                                <div class="form-group">
                                    {{ form.respuesta_nacionalidad }}

                                    <div class="observacion">
                                        {{ form.observacion_nacionalidad }}
                                    </div>
                                </div>
                                 <h3>Respuesta Tipo de Contrato</h3>
                                <div class="form-group">
                                    {{ form.respuesta_tipo_contrato }}

                                    <div class="observacion">
                                        {{ form.observacion_tipo_contrato }}
                                    </div>
                                </div>
                                 <h3>Respuesta Tipo de Renta</h3>
                                <div class="form-group">
                                    {{ form.respuesta_tipo_renta }}

                                    <div class="observacion">
                                        {{ form.observacion_tipo_renta }}
                                    </div>
                                </div>
                                 <h3>Respuesta Carrera/Semestre</h3>
                                <div class="form-group">
                                    {{ form.respuesta_carrera_semestre }}

                                    <div class="observacion">
                                        {{ form.observacion_carrera_semestre }}
                                    </div>
                                </div>
                                 <h3>Respuesta Profesión</h3>
                                <div class="form-group">
                                    {{ form.respuesta_profesion }}

                                    <div class="observacion">
                                        {{ form.observacion_profesion }}
                                    </div>
                                </div>
                                 <h3>Respuesta Estado Civil</h3>
                                <div class="form-group">
                                    {{ form.respuesta_estado_civil }}

                                    <div class="observacion">
                                        {{ form.observacion_estado_civil }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    <div class="top-buttons">
                        <button type="submit" class="buttons save">Guardar Evaluación</button>
                    </div>
                    </div>
                </div>
                <div class="top-buttons">
                    <button type="reset" class="buttons clear">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
    {% block js %}
    <script src="{% static 'js/formEva.js' %}"></script>
    {% endblock js %}

{% endblock %}