{% extends "web/base.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/listarEjec.css' %}">
 {% endblock estilos %}

{% block contenido %}
    <!--Contnedor Pricipal-->
    <div class="container">
        <!--Filtro de Sucursal-->
        <div class="filter-section">
                <h2 class="center-title">Resultados de Evaluación por Ejecutivo</h2>
           <form method="get" class="filter">
                <label for="sucursal">Número de Sucursal:</label>
                <input type="text" name="sucursal" id="sucursal" placeholder="N° Sucursal" value="{{ sucursal|default:'' }}">

                <label for="fecha_inicio">Desde:</label>
                <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ fecha_inicio|default:'' }}">

                <label for="fecha_fin">Hasta:</label>
                <input type="date" name="fecha_fin" id="fecha_fin" value="{{ fecha_fin|default:'' }}">

                <button type="submit">Filtrar</button>
            </form>
        </div>
        <!--Sección tabla de Ejecutivos-->
        <div class="table-section">
            <table class="executives-table" id="executives-table">
                <thead>
                    <tr>
                    <th> Ejecutivo Evaluado</th>
                    <th> Deficiente</th>
                    <th> Insuficiente</th>
                    <th> Regular</th>
                    <th> Aceptable</th>
                    <th> Destacado</th>
                    <th> Excelente</th>
                    <th> N° Casos Revisados</th>
                    <th> Calificación Final</th>
                    </tr>
                </thead>
                <tbody id="tabla-ejecutivo">
                    {% if resumen %}
                        {% for nombre, datos in resumen.items %}
                        <tr data-sucursal="{{ sucursal }}">
                            <td>{{ nombre }}</td>
                            <td>{{ datos.Deficiente|default:"0" }}</td>
                            <td>{{ datos.Insuficiente|default:"0" }}</td>
                            <td>{{ datos.Regular|default:"0" }}</td>
                            <td>{{ datos.Aceptable|default:"0" }}</td>
                            <td>{{ datos.Destacado|default:"0" }}</td>
                            <td>{{ datos.Excelente|default:"0" }}</td>
                            <td>{{ datos.Total_Calificaciones|default:"0" }}</td>
                            <td>{{ datos.Calificacion_Final|default:"0" }}</td>
                        </tr>
                        {% endfor %}
                        <tr class="total-row">
                            <td><strong>Total</strong></td>
                            <td><strong>{{ totales.Deficiente }}</strong></td>
                            <td><strong>{{ totales.Insuficiente }}</strong></td>
                            <td><strong>{{ totales.Regular }}</strong></td>
                            <td><strong>{{ totales.Aceptable }}</strong></td>
                            <td><strong>{{ totales.Destacado }}</strong></td>
                            <td><strong>{{ totales.Excelente }}</strong></td>
                            <td><strong>{{ totales.Total_Calificaciones }}</strong></td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr><td colspan="9">No hay datos disponibles.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <!--Gráfico de calificaciones-->
        <section class="chart-section">
            <h2>Distribución de Calificaciones </h2>
            <canvas id="pieChart" width="400" height="400"></canvas>
        </section>
        <!--Filtro ejecutivos-->
        <div class="filter-section">
                <h2 class="center-title">Detalle de Observaciones Relevantes</h2>
            <div class="filter">
                <label for="sucursal-filter"> N° de Rut:</label>
                <input type="text" id="ejecutivo-filter" placeholder="Ingrese Rut">
                <button id="filter-button">Buscar</button>
            </div>
        </div>
        <!--Sección de Observaciones Relevantes-->
        <div class="observations-section">
            <table class="obs-table" id="obs-table">
                <thead>
                    <tr>
                        <th> Clientes</th>
                        <th> Item</th>
                        <th> Concepto</th>
                        <th> Observaciones</th>
                        <th> Tipo Cliente</th>
                        <th> Tipo Evaluación</th>
                    </tr>
                </thead>
               <tbody id="observations-body">
                    {% if observaciones %}
                        {% for obs in observaciones %}
                            <tr>
                                <td>{{ obs.rut_cliente }} - {{obs.producto}} </td>
                                <td>{{ obs.item }}</td>
                                <td>{{ obs.concepto }}</td>
                                <td>{{ obs.observacion }}</td>
                                <td>{{ obs.tipo_cliente }}</td>
                                <td>{{ obs.tipo_evaluacion }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="6">No hay observaciones relevantes disponibles.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    {{ codigos_validos|json_script:"codigos-validos" }}
    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="{% static 'js/listarEjec.js'%}"></script>
    {% endblock js %}
{% endblock contenido %}