.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ffff;
    border-radius: 20px;
    transition: color 0.9s ease; 
}
/* Sección del Filtro */
.filter-section {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: color 0.9s ease;
    color: rgb(6, 22, 100);
    width: 90%; 
    background-color: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 16px auto; /* Centra la sección horizontalmente */
}

.filter {
    align-items: center;
    margin-bottom: 10px;
}

.filter label {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.filter input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
}

.filter button {
    padding: 10px 20px;
    background-color: rgb(6, 22, 100);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

/* Sección Tabla listado ejecutivos*/
.table-section {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.726);
    margin-top: 10px;
    width: 90%; 
    margin: 1px auto; 
}

.executives-table {
    width: 96%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-radius: 10px;
}

.executives-table th,
.executives-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.executives-table th {
    background-color: rgb(6, 22, 100);
    color: white;
    font-weight: bold;
}

.executives-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.executives-table tbody tr:hover {
    background-color: #f1f1f1;
}

.executives-table td strong {
    font-weight: bold;
    color: #1f2a44;
}
/* Sección de Observaciones */
.observations-section {
    padding: 10px;
    width: 90%; 
    background-color: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 10px auto; 
}

.obs-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: black;
}

.obs-table th {
    background-color:rgb(6, 22, 100);
    color: white;
    font-weight: bold;
    padding: 10px;
}

.obs-table td {
    padding: 6px; /* Reduce el espaciado entre celdas */
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

.obs-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.obs-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Espaciado adicional para observaciones */
.obs-table td:nth-child(4) {
    white-space: pre-wrap; /* Permite texto en varias líneas */
    line-height: 1.3; /* Mejor separación entre líneas */
    font-size: 10px;
}

/* Sección del Gráfico */
.chart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%; /* Ajusta el ancho según sea necesario */
    height: auto;
    background-color: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.726);
    border-radius: 20px;
    margin: 20px auto; /* Centra la sección horizontalmente */

}

.chart-section h2 {
    font-size: 22px;
    font-weight: bold;
    color: rgb(6, 22, 100);
}

canvas {
    display: block !important;
    width: auto !important; /* Ajusta el tamaño del canvas */
    height: 300px !important; /* Ajusta el tamaño del canvas */
    padding: 5px;
}

#mypieChart {
    margin: 0 auto;
}
